<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <div id="navigation">
	<ul>
		<li><%= link_to "Home", '/' %></li>
		<li><%= link_to "New articles", articles_path %></li>
		<li><%= link_to "Contacts", contacts_path %></li>
		<li><%= link_to "About", about_path %></li>
    <li><%= link_to "Terms", terms_path %></li>
    <li><%= link_to "Works", works_path %></li>
		<li><%= link_to "Links", links_path %></li>
	</ul>
</div>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
  	
    <%= yield %>
  </div>
  </body>
</html>
